.Wrapper {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

@media (min-width: 1000px) {
  .Wrapper {
    flex-direction: row;
  }
}
